<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>InfoVis UE 2021</title>

    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/style.css')}}">

    <script src="https://d3js.org/d3.v5.min.js"></script>
</head>
<body>

<h1>InfoVis UE 2021 - Exercise 2</h1>
<p>Teodor Chakarov No:12141198</p>

<div id="svg_scatter"></div>
<div id="svg_heatmap"></div>

<script src="../static/js/index.js"></script>
<script src="../static/js/heat.js"></script>


<script>
    //let data = {{ data | safe }};
    //console.log(d3);
</script>


</body>
</html>